.main{
    background-color: wheat;
    align-content: center;
}
.content{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(95, 233, 223, 0.422);
}
.images{
    height: 450px;
}