.main{
    background-color: rgb(235, 161, 93);
    align-content: center;
}
.content{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    display: grid;
    justify-items: center;
    background-color: rgba(95, 233, 223, 0.422);
}
.fontsDes{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
font-weight: normal;
}
.images{
    width: 450px;

}

ul{
    display: grid;
    justify-items: center;
    padding-inline-start: 20px;
    
}
.fontul{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listimages{
    padding-top: 20px;
    padding-bottom: 20px;

    width: 450px;
}

.listimages2{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
}